<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="blog">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title ng-bind="$state.current.data.pageTitle"></title>
  <link rel="shortcut icon" type="image" href="https://raw.githubusercontent.com/MrHuxu/img-repo/master/ng-blog/MyLogoT.PNG">
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <% if (process.env.NODE_ENV === 'production') { %>
    <link rel="stylesheet" type="text/css" href="/dist/all.min.css">
  <% } else { %>
    <link rel="stylesheet" type="text/css" href="/bower_components/highlightjs/styles/tomorrow-night-eighties.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/nprogress/nprogress.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
  <% } %>
  <base href="/">
</head>

<body>
  <div class='header'>
    <h1>Life of xhu</h1>
    <div class='links'>
      <div class="link1"><a ui-sref="index">Home</a></div>
      <div class="link2"><a ui-sref="archives">Archives</a></div>
      <div class="link3"><a ui-sref="projects">Projects</a></div>
      <div class="link4"><a ui-sref="aboutme">Aboutme</a></div>
    </div>
    <button class='btn btn-success drop-btn' id="dropdown-btn">点击这里</button>
    <div id='dropdown-list' style='display:none'>
      <div><a ui-sref="index">Home</a></div>
      <div><a ui-sref="archives">Archives</a></div>
      <div><a ui-sref="projects">Projects</a></div>
      <div><a ui-sref="aboutme">Aboutme</a></div>
    </div>
  </div>
  <div class="ribbon"><a href="https://github.com/MrHuxu/ng_blog" target="_blank">Fork me on GitHub!</a></div>
  <div class='content'>
    <div ui-view class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2"></div>
  </div>
</body>

<% if (process.env.NODE_ENV === 'production') { %>
  <script type="text/javascript" src="/dist/all.min.js"></script>
<% } else { %>
  <script type="text/javascript" src="/bower_components/nprogress/nprogress.js"></script>
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="/javascripts/blog_module.js"></script>
  <script type="text/javascript" src="/javascripts/article_filter.js"></script>
  <script type="text/javascript" src="/javascripts/time_filter.js"></script>
  <script type="text/javascript" src="/javascripts/tags_directive.js"></script>
  <script type="text/javascript" src="/javascripts/pagination_directive.js"></script>
  <script type="text/javascript" src="/javascripts/index_controller.js"></script>
  <script type="text/javascript" src="/javascripts/common_controller.js"></script>
  <script type="text/javascript" src="/javascripts/archives_controller.js"></script>
  <script type="text/javascript" src="/javascripts/article_controller.js"></script>
  <script type="text/javascript" src="/javascripts/menu.js"></script>
<% } %>
</html>
