<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title ng-bind="$state.current.data.pageTitle"></title>
  <link rel="shortcut icon" type="image" href="https://raw.githubusercontent.com/MrHuxu/img-repo/master/ng-blog/MyLogoT.PNG">
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/highlightjs/styles/rainbow.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/nprogress/nprogress.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <base href="/">
</head>
<body>
  <div class="ribbon"><a href="https://github.com/MrHuxu/ng_blog" target="_blank">Fork me on GitHub!</a></div>
  <a ui-sref="index">Home</a>
  <a ui-sref="archives">Archives</a>
  <a ui-sref="projects">Projects</a>
  <a ui-sref="aboutme">Aboutme</a>
  <div id="clock"><script charset="Shift_JIS" src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.js"></script></div>
  <div ui-view></div>
</body>
<script type="text/javascript" src="/bower_components/nprogress/nprogress.js"></script>
<script type="text/javascript" src="/bower_components/highlightjs/highlight.pack.js"></script>
<script type="text/javascript" src="/bower_components/marked/marked.min.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/javascripts/angular-marked.min.js"></script>
<script type="text/javascript" src="/javascripts/blog_module.js"></script>
<script type="text/javascript" src="/javascripts/article_filter.js"></script>
<script type="text/javascript" src="/javascripts/tags_directive.js"></script>
<script type="text/javascript" src="/javascripts/common_controller.js"></script>
<script type="text/javascript" src="/javascripts/archives_controller.js"></script>
<script type="text/javascript" src="/javascripts/article_controller.js"></script>
</html>
